.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* row data */
.ant-table-tbody > tr > td {
  padding: 0px;
}

.ant-table-thead > tr > th {
  height: 5px;
  padding: 0px;
}


.hide-row {
  display: none;
}

.ant-table-cell {
  padding: 0px !important;
  height: 50px;
  text-align: left;
  margin: 10px;
}

th.ant-table-cell {
  padding: 10px !important;
}

/* .ant-table {
  border: 1px solid grey !important;
}

.ant-table-thead > tr > th, .ant-table-thead > tr > th > .ant-table-column-sorter {
  border: 1px solid grey;
}

.ant-table-tbody > tr > td {
  border: 1px solid grey;
  border-left: 0px;
}

.ant-table tfoot > tr > th, .ant-table tfoot > tr > td {
  border: 1px solid grey;
} */

/* .ant-table-row > tr {
  border-left: 0px solid grey;
} */

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: black !important; 
  font-weight: 500;
}

.ant-tabs-ink-bar {
  position: absolute;
  background: black !important;
  pointer-events: none;
}


/* Assuming you have a class for the step indicator bar */
.ant-steps-item-process .ant-steps-item-process-icon {
  /* Set the width of the bar for the active step */
  width: 10px; /* Adjust this value based on your requirements */
}

.ant-card-body {
  padding: 10px !important;
}

.ant-input-number-group-addon {
  background: white !important;
}

.newclass {
  background: #f1f3f7;
  border-bottom: solid 1px red !important;
  font-weight: 600;
}

.scrollable-container::-webkit-scrollbar {
  width: 0.5em;
}

/* Hide the thumb */
.scrollable-container::-webkit-scrollbar-thumb {
  background-color: transparent; 
}
/* Hide the track */
.scrollable-container::-webkit-scrollbar-track {
  background-color: transparent;
}

.custom-table-weightage {
  border: 1px solid #e2ecff;
  border-radius: 5px;
}

.row-class:hover {
  background:unset;
}

.custom-table-weightage .ant-table-cell-row-hover {
  background: transparent !important;
}

.row-class > td {
  border-bottom: solid 1px #e2ecff !important;
}

.newclass > td {
  border-bottom: solid 1px #dce0e7 !important;
  border-top: solid 0.5px #dce0e7 !important;
}

.table-header {
  color: rgba(113, 125, 145, 1) !important;
}

.supplier-response-item >.ant-collapse-item > .ant-collapse-header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.supplier-response-item >.ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box {
  padding-right: 0 !important;
  padding-left: 0 !important;
  background-color: white;
  padding-top: 0 !important;
  border-radius: 8px;
}

.kf-button {
  min-width: 100px;
  height: 38px;
  font-size: 15px;
  font-weight: bold;
}

.kf-button-primary {
  background-color:#0565ff;
  color: white;
}

.kf-button-secondary {
  background-color: #f1f3f7;
  color: black;
}

.kf-button-secondary:hover {
  background-color: #d8dce5 !important;
  color: black !important;
}
.kf-button-primary:hover {
  background-color: #003c9c !important;
  color: white !important;
}


.kf-button-error {
  background-color: red;
}